# ========================
# General Files
# ========================
HELP.md
target/
build/
.vscode/

# Exclude specific target directories except those in source folders
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# ========================
# Environment and Secrets
# ========================
.env
application.properties
application.yml

# ========================
# IDE Specific Files
# ========================

## Spring Tool Suite (STS) ##
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

## IntelliJ IDEA ##
.idea/
*.iws
*.iml
*.ipr

## NetBeans ##
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ========================
# Logs and Temporary Files
# ========================
*.log
*.tmp
*.bak
*.swp
*.lock
.DS_Store
Thumbs.db
